#root {
  overflow: hidden;
  margin: 0 auto;
  max-width: 100vw;
  text-align: center;
  
}

.contain{
  grid-template-rows:  max-content max-content max-content;
  max-width: fit-content;
}

.top-bar{
  background-color: #2B3743;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 2px  ;
}

.main-contain{
  grid-template-columns: 50vw 50vw;
  width: max-content;
}

.search{
  width: 545px !important;
  margin-left: 6rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 2px  ;
  border: none !important;
}

.filter{
  margin-right: 6rem;
}

.filter select{
  padding: 15px; 
  width: 180px;
  height: 49px;
}

.css-1s0ngw4-Select2{
  margin-right: 5rem !important;
}

Button.reset-button.css-frwsyk-Box{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 2px  ;
}

.card-grid{
  margin-top: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  gap: 7rem;
 width: 100vw;
}

.card{
  width: max-content;
  background-color: #2B3743;
  height: 569px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 2px  ;
}

.card img{
  width: 400px;
  height: 266px;
}

.card h3{
  padding-left: 2rem;
  padding-bottom: .5rem;
  font-size: 17px;
  
}

.country-name{
  font-size: 25px;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  width: 15ch;
}

.h3-title{
  font-weight: bold;
}

.h3-title span{
  font-weight: 400;
}

.card-info{
  padding-bottom: 3rem;
}

.detail-main-contain{
  display: grid;
  grid-template-rows: max-content max-content;
}

.detail-main{
  display: grid;
  grid-template-columns:max-content max-content ;
  grid-template-rows: max-content;
  
}

.detail-main img{
  margin-left: 8rem;
  width: 600px;
}

.detail-main-info{
  margin-left: 6rem;
  grid-template-rows: max-content max-content max-content max-content max-content ;
  row-gap: 15px;
}

.detail-contain{
  width: 100vw;
}

.home-button{
  width: 150px;
  height: 60px;
  margin-top: 5rem;
  margin-left: 8rem;
  margin-bottom:5rem;
}

.detail-main-info p{
  font-weight: 700;
  height: max-content;
}

.detail-main-info span{
  font-weight: 300;
}

.countryname{
  font-weight: 700;
  margin-bottom: 30px;
}

.css-1s0ngw4-Select2{
  justify-content: end;
}

.css-vflnu7-Input2 {
  margin-left:6rem  !important;
}

.detail-main-contain .css-frwsyk-Box{
  margin-top: 5rem;
  margin-left: 8rem;
  margin-bottom:5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 2px  ;
}

a{width: max-content;
height: max-content;}

select{
border: none !important;
box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 0px 2px  ;
}